.logo-img {
    padding-top: 22px;
}

.information-text--container {
    position: relative;
    bottom: 35px;
}

.information-text--container---w {
    position: relative;
    bottom: 32px;
}

.information-text {
    padding-bottom: 9px;
}

.icon--place {
    display: inline-flex;
    padding-left: 149px;
}

.your-city {
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    padding: 0px 0px 0px 9px;
}

.city-header {
    color: #00BEDD;
}

.menu-info {
    display: inline-block;
}

.icon--place---1, .icon--place---2 {
    display: inline-flex;
    padding-left: 82px;
}

.information-text--3 {
    padding-bottom: 7px;
}

.icon--place---5 {
    display: inline-flex;
    padding-left: 35px;
}

.icon--place---4 {
    display: inline-flex;
    padding-left: 50px;
}

.information-text:hover .your-city--blue a {
    color: #00BEDD;
}

.your-city--blue {
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
}

.information-text .your-city--blue a {
    color: black;
}

.icon--place---7 {

    background-color: #00BEDD;
    border-radius: 50px;
    width: 48px;
    height: 47px;

}

.your-city--8 {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
}

.aligan-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-text--11 {
    position: relative;
    padding-left: 44px;
    bottom: 18px;
}

.your-city--8:hover {
    transform: translateY(5px);
}

.nav {
    background-color: #00BEDD;
    height: 70px;
}

.menu-header {
    position: relative;
    top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.menu-left {
    margin-left: 132px;
}


.footer {
    height: 342px;
    background-color: #00BEDD;
}

.Contact--Information {
    position: relative;
    top: 75px;
    left: 95px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.footer-flex {
    display: inline-block;

}

.footer-flex--padding {
    padding-left: 209px;

}

.footer-icon--container {
    position: relative;
    top: 206px;
}